{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="container">
{% with messages = get_flashed_messages(with_categories=True) %}
  {% if messages %}
    <ul class="flashes">
    {% for category, message in messages %}
      <li class="{{ category }}"><span>{{ category }}</span> {{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<div class="flex-columns">
  <div class="left-column">
    <h2>Categories</h1>
    <ul>
      {% for cat in categories %}
        <li><a href="{{ url_for('show_category', category = cat.name, cat_id = cat.id)}}">{{cat.name}}</a></li>
      {% endfor %}
    </ul>
    {% if 'username' in session %}
      <a class="button small" href="{{ url_for('add_category') }}">Add Category +</a>
    {% endif %}
  </div>
  <div class="right-column">
    <h2>Latest Items</h2>
    <ul>
      {% for item in recentItems %}
      <li><a href="{{ url_for('show_item', category = item.category.name, item = item.name )}}">{{item.name}}</a> - <small>{{item.category.name}}</small></li>
      {% endfor %}
    </ul>
    {% if 'username' in session %}
        <a class="button small" href="{{ url_for('add_item') }}">Add Item +</a>
    {% endif %}
  </div>
</div>
</div>
{% endblock %}